@page
@model CS3750_PlanetExpressLMS.Pages.Account.LoginModel
@*@model assigns the Model variable for us to use. @Model (line 15) accesses this variable*@

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Planet Express LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>
    User Login
</h1>
<hr />
<div> 
    <label class="text-danger">@Model.errorMessage</label> 
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*Add this to validate user input*@
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label> @*The label name*@
                <input type="text" asp-for="User.Email" class="form-control"/> @*The user input field*@
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="User.Password" class="control-label"></label> @*The label name*@
                <input type="password" asp-for="User.Password" class="form-control"/> @*The user input field*@
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </form>
    </div>
</div>
<a asp-page="./Register">Register a New User</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
