@page
@model CS3750_PlanetExpressLMS.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Planet Express LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Register a New User</h1>
<hr />
<div>
    <label class="text-danger">@Model.errorMessage</label>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Credential.Email" class="control-label"></label>
                <input asp-for="Credential.Email" class="form-control" />
                <span asp-validation-for="Credential.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Password" class="control-label"></label>
                <input asp-for="Credential.Password" class="form-control" />
                <span asp-validation-for="Credential.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.FirstName" class="control-label"></label>
                <input asp-for="Credential.FirstName" class="form-control" />
                <span asp-validation-for="Credential.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.LastName" class="control-label"></label>
                <input asp-for="Credential.LastName" class="form-control" />
                <span asp-validation-for="Credential.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credential.Birthday" class="control-label"></label>
                <input asp-for="Credential.Birthday" class="form-control" />
                <span asp-validation-for="Credential.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Login">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
