@page "{id:int}"
@model CS3750_PlanetExpressLMS.Pages.Account.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "../Shared/_GeneralLayout.cshtml";
    //var db = Database.Open("LMS_Planet"); This will come into play later, when we have better db 
    //var selectClassesString = "SELECT classinfothing, classinfothing FROM blah blah blah" same thing^
}
    <div class="container">
        <main role="main" class="pb-3">

            <h1>Welcome 
                @Html.DisplayFor(model => model.User.FirstName)
                @Html.DisplayFor(model => model.User.LastName)!
                <br />
                You have been logged in.
            </h1>

                <div>
                    @if(Model.User.Image != null)
                    {
                        <img src="data:image/jpg;base64,@Html.Raw(Convert.ToBase64String(Model.User.Image))" alt="Profile Picture" height="150" />
                    }
                    else
                    {
                        @*Display a default image*@
                        <hr />
                        <h2>DEFAULT IMAGE</h2>
                    }
                </div>
        </main>
    </div>
    <div class="card-container">
        @*@foreach (var row in db.Query(selectcoursesString){
            this is where we will have our cards display themselves... but for now, lets just have some fillers VVV
        }*@

        <div class="card">
            <div class="card-body">
                <h4><b>CS 3750</b></h4>
                <h5><b>Software Engineering 2</b></h5>
                <p>NB 318</p>
                <p>9:30 am - 11:20 am</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4><b>CS 3750</b></h4>
                <h5><b>Software Engineering 2</b></h5>
                <p>NB 318</p>
                <p>9:30 am - 11:20 am</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4><b>CS 3750</b></h4>
                <h5><b>Software Engineering 2</b></h5>
                <p>NB 318</p>
                <p>9:30 am - 11:20 am</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4><b>CS 3750</b></h4>
                <h5><b>Software Engineering 2</b></h5>
                <p>NB 318</p>
                <p>9:30 am - 11:20 am</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4><b>CS 3750</b></h4>
                <h5><b>Software Engineering 2</b></h5>
                <p>NB 318</p>
                <p>9:30 am - 11:20 am</p>
            </div>
        </div>

    </div>
