@page "{id:int}"
@model CS3750_PlanetExpressLMS.Pages.Account.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Welcome 
    @Html.DisplayFor(model => model.User.FirstName)
    @Html.DisplayFor(model => model.User.LastName)!
    <br />
    You have been logged in.
</h1>
    <div>
        @if(Model.User.Image != null)
        {
            <img src="data:image/jpg;base64,@Html.Raw(Convert.ToBase64String(Model.User.Image))" alt="Profile Picture" height="150" />
        }
        else
        {
            @*Display a default image*@
            <h2>DEFAULT IMAGE</h2>
        }
    </div>
@*<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file" />
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>*@

