@page "{id:int}"
@model CS3750_PlanetExpressLMS.Pages.Account.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Planet Express LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/welcome/@Model.User.ID">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" runat="server" href="~/account/profile/@Model.User.ID">Profile</a>
                    </li>
                    <li>
                        @if (Model.User.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" href="~/Classes/@Model.User.ID">Classes</a>
                        }
                    </li>
                    <li>
                        @if (!Model.User.IsInstructor)
                        {
                            <a class="nav-link text-dark" runat="server" href="~/Registration/@Model.User.ID">Registration</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Welcome 
    @Html.DisplayFor(model => model.User.FirstName)
    @Html.DisplayFor(model => model.User.LastName)!
    <br />
    You have been logged in.
</h1>

    <div>
        @if(Model.User.Image != null)
        {
            <img src="data:image/jpg;base64,@Html.Raw(Convert.ToBase64String(Model.User.Image))" alt="Profile Picture" height="150" />
        }
        else
        {
            @*Display a default image*@
            <hr />
            <h2>DEFAULT IMAGE</h2>
        }
    </div>

