/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background 
    for clickables
-------------------------------------------------- */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: 80px;
    margin-top: 2px;
    box-shadow: #adadad 3px 3px 5px;
}

.btn-delete {
    color: #fff;
    background-color: #990000;
    border-color: #1861ac;
    width: 80px;
    margin-top: 2px;
    box-shadow: #adadad 3px 3px 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-logout {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    float: right;
}
/* -------------------------------------------------- */



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* -------------------------------------------------- */



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* -------------------------------------------------- */



/* Card styles
------------------------------------------------- */
.card{
    flex: 0 1 24%;
    width:30em;
    margin:10px;
    background-color: lightpink;
    height: 15em;
    box-shadow: 0 0 12px black;
    float: left;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1500px;
    margin: 0 auto;
    padding: 9px;
    width: 50em;
    float:left;
}

input.card-details-button {
    color: #fff;
    background-color: #990000;
    border-color: #ff00dc;
    width: 80px;
    margin-top: 2px;
    box-shadow: #adadad 3px 3px 5px;
}
/* -------------------------------------------------- */



/* Grid Styles
-------------------------------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 24% 16% 16% 14% 20% 10%;
    border: .1px solid rgba(0, 0, 0, 0.3);
    box-shadow: #adadad 3px 3px 5px;
}

.grid-container-5col {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: .1px solid rgba(0, 0, 0, 0.3);
    box-shadow: #adadad 3px 3px 5px;
}

.grid-coursedetail-item {
    background: linear-gradient(#bed3ed, #e6eaed);
    padding: 20px;
    font-size: 20px;
    box-shadow: -6px 6px 3px #e3e3e3;
    border: 1px solid #d3dee3;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: normal;
}

.grid-item {
    background-color: #e6eaed;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}
/* -------------------------------------------------- */



/* Styles for Collapsible Elements 
-------------------------------------------------- */
.collapsible {
    background-color: #e6ffe6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: #808080 2px 2px;
}

.active, .collapsible:hover {
    background-color: #ccffcc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
/* -------------------------------------------------- */

/* Page Basics
-------------------------------------------------- */
.page-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    color: #4f5563;
}
/* -------------------------------------------------- */

/* Todo List
-------------------------------------------------- */
.todo-container {
    float: left;
    border: solid;
    border-width: thin;
    margin: 10px;
    background-color: lightyellow;
    box-shadow: 0 0 12px black;
    width: 200px;
}

.todo-item{
    border-bottom: solid;
    border-width: thin;
    margin: 5px;
    overflow-wrap: break-word;
}

/* -------------------------------------------------- */