@page "{id:int}"
@using Microsoft.AspNetCore.Http
@using System.IO
@model CS3750_PlanetExpressLMS.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
    Layout = "Shared/_GeneralLayout.cshtml";
}

<form class="well form-horizontal" method="post" id="contact_form">
    <div class="row">
        <div class="col">
        
    <center><h2><b>Account Payment</b></h2></center>
    <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtFirstName" placeholder="First Name" class="form-control" type="text" asp-for="Payment.FirstName" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Last Name</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtLastName" placeholder="Last Name" class="form-control" type="text" asp-for="Payment.LastName" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Card Number</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtCardNumber" runat="server" placeholder="Card Number" class="form-control" type="text" asp-for="Payment.CardNumber" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Exp Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtExpDate" type="month" placeholder="Exp Date" class="form-control" asp-for="Payment.ExpDate" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">CVV</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtCvv" placeholder="CVV" class="form-control" type="text" asp-for="Payment.Cvv" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Amount</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <input name="txtAmount" placeholder="Amount" class="form-control" type="text" asp-for="newInvoice.AmountPaid" autocomplete="off" required>
            </div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="col">
            <header>
                <h3>Amount Owed</h3>
                <p>$@Html.DisplayFor(model => model.balance)</p>
            </header>
         </div>
         <div class="col">
             <h3>Number of Credit Hours Registered For</h3>
             <p>@Html.DisplayFor(model => model.creditHours)</p>
         </div>
    </div>

</div>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="btn btn-warning">SUBMIT <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>
</form>

<div class="well">
    <header style="text-align:center">
        <h3>Payment History</h3>
    </header>
    <table align="center">
        <tr>
            <th style="text-align:center">
                Invoice Total
            </th>
            <th style="padding-left:25px; text-align:center">
                Payment Total
            </th>
            <th style="padding-left:25px; text-align:center">
                Payment Date
            </th>
        </tr>
        @foreach (var item in Model.InvoiceList)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(m => item.FullBalance)
                </td>
                <td style="padding-left:25px; text-align:center">
                    -@Html.DisplayFor(m => item.AmountPaid)
                </td>
                <td style="padding-left:25px; text-align:center">
                    @Html.DisplayFor(m => item.PaymentDate)
                </td>
            </tr>
        }
        <tr></tr>
    </table>
</div>
