@page  "{userId:int}/{submissionId:int}"
@model CS3750_PlanetExpressLMS.Pages.GradeSubmissionModel
@{
    ViewData["Title"] = "Grade Submissions";
    Layout = "Shared/_GeneralLayout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">

    </main>
</div>
