@page
@model CS3750_PlanetExpressLMS.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_RegisterLoginLayout.cshtml";
}
    <div class="container">
        <main role="main" class="pb-3">
            <h1>
                User Login
            </h1>
            <hr />
            <div> 
                <label class="text-danger">@Model.errorMessage</label> 
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*Add this to validate user input*@
                        <div class="form-group">
                            <label asp-for="User.Email" class="control-label"></label> @*The label name*@
                            <input type="text" asp-for="User.Email" class="form-control"/> @*The user input field*@
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label> @*The label name*@
                            <input type="password" asp-for="User.Password" class="form-control"/> @*The user input field*@
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
            <a asp-page="./Register">Register a New User</a>
        </main>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
