@page
@model CS3750_PlanetExpressLMS.Pages.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_RegisterLoginLayout.cshtml";
}
    <div class="container">
        <main role="main" class="pb-3">

        <h2 class="page-title">
            Register a New User
        </h2>
        <hr />

            <div>
                <label class="text-danger">@Model.errorMessage</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="user.Email" class="control-label"></label>
                            <input asp-for="user.Email" class="form-control" />
                            <span asp-validation-for="user.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="user.Password" class="control-label"></label>
                            <input asp-for="user.Password" class="form-control" />
                            <span asp-validation-for="user.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="user.FirstName" class="control-label"></label>
                            <input asp-for="user.FirstName" class="form-control" />
                            <span asp-validation-for="user.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="user.LastName" class="control-label"></label>
                            <input asp-for="user.LastName" class="form-control" />
                            <span asp-validation-for="user.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="user.Birthday" class="control-label"></label>
                            <input asp-for="user.Birthday" class="form-control" />
                            <span asp-validation-for="user.Birthday" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="user.IsInstructor" class="control-label"></label>
                            <select asp-for="user.IsInstructor" class="control-label">
                                <option value="false">Student</option>
                                <option value="true">Instructor</option>                                
                            </select>
                            <span asp-validation-for="user.IsInstructor" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="Login">Back to Login</a>
            </div>

        </main>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
